@use './variable.scss' as *;

// media screen
@media screen and (min-width:750px) {
  html {
    font-size: 75px !important;
  }
};

// :root
:root {
  --scrollbar-width: 6px;
  --aside-min-width: 84px;
  --aside-max-width: 240px;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family;
  background-color: $bg-color-base;
  font-size: $font-size-base;
  overflow: clip auto;
}

.container{
  width: 100vw;
  height: 100vh;
}

// flex grid container
.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.cover {
  width: 100%;
  height: 100%;
}


// scroll
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background: #929292;
  }
  ::-webkit-scrollbar-track {
    background: #3d3d3d;
  }
}
/* 所有浏览器：设置滚动条基本尺寸 */
html {
  scrollbar-width: thin; 
  scrollbar-color: #c0c0c0 #f1f1f1; 
}
::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}

/* Webkit：滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
  border: 2px solid #f1f1f1; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}
