// media screen
@media screen and (min-width:750px) {
  html {
    font-size: 75px !important;
  }
};
#app {
  /** 让字体可以抗锯齿，字体更清晰 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  font-family:var(--system-font);
  transition: font-family $transition-base;
  color: $text-regular;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// common styles
.container{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.grid{
  display: grid;
}

