@use './variable.scss' as *;

// media screen
@media screen and (min-width:750px) {
  html {
    font-size: 75px !important;
  }
};

// :root
:root {
  --scrollbar-width: 6px;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family;
  background-color: $bg-color-base;
  font-size: $font-size-base;
}

.container{
  width: 100vw;
  height: 100vh;
}

// flex grid container
.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.cover {
  width: 100%;
  height: 100%;
}


// scroll
.scroll-container {
  width: calc(100vw - var(--scrollbar-width));
  height: calc(100vw - var(--scrollbar-height));
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: auto;
  min-height: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);
  border-radius:  10px;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: rgb(178, 178, 178);
}

.scroll {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(204, 204, 204);
    border-radius: .2667rem;
    transition: all 0.2s ease-in-out;
  }

  &::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: rgb(178, 178, 178);
  }
}

